In [3]:
target = "Q22686"

In [5]:
import pandas as pd
import os
path = "/Users/mengxiayu/Documents/Research/WIKIPEDIA/wikidata/labels/"
dir_list = os.listdir(path)
for batch_file in dir_list:

    df = pd.read_csv(path+batch_file, sep='\t', header=0)
    # print(df.head())
    record = df.loc[df["qid"] == target]
    if len(record) > 0:

        print(record)

              label     qid
69280  Donald Trump  Q22686

In [8]:
import pandas as pd
import os
path = "/afs/crc.nd.edu/group/dmsquare/vol1/data/WIKIPEDIA/wikidata/entity_values/33.tsv"
df = pd.read_csv(path, header=0, delimiter='\t', on_bad_lines='warn', quoting=3)
# with open(path, 'r') as f:
#     for line in f:
#         arr = line.strip().split('\t')
#         assert len(arr) == 4

In [42]:
def search_properties(property_list):
    results = []
    df = pd.read_csv("/afs/crc.nd.edu/group/dmsquare/vol1/data/WIKIPEDIA/wikidata/property_labels/0.tsv", sep='\t')
    for p in property_list:
        record = df.loc[df["pid"] == p]
        results.append(record.to_string().strip().split('\n'))
    return results

In [1]:
import json
import pandas as pd

data_path = "/afs/crc.nd.edu/group/dmsquare/vol2/myu2/ComparisonSentences/data/wikidata/tables/entity_values/university.tsv"

df = pd.read_csv(data_path, sep='\t')

In [12]:
from collections import Counter

cnt = Counter(list(df["property_id"]))

In [21]:
for k,v in cnt.most_common(10):
    print(k, v)

P856 12741
P571 12662
P8687 5840
P373 4452
P2196 2575
P1128 1563
P281 1514
P6375 1219
P6269 1053
P5822 892

In [44]:
property_list = [k for k,v in cnt.most_common(20)]
prop_labels = search_properties(property_list)
prop_labels

[['label   pid', '2434  official website  P856'],
 ['label   pid', '3601  inception  P571'],
 ['label    pid', '990  social media followers  P8687'],
 ['label   pid', '7131  Commons category  P373'],
 ['label    pid', '7337  students count  P2196'],
 ['label    pid', '2469  employees  P1128'],
 ['label   pid', '1195  postal code  P281'],
 ['label    pid', '9046  street address  P6375'],
 ['label    pid', '7820  API endpoint  P6269'],
 ['label    pid', '650  admission rate  P5822'],
 ['label    pid', '6296  IPv4 routing prefix  P3761'],
 ['label    pid', '8754  IPv6 routing prefix  P3793'],
 ['label    pid', '6005  phone number  P1329'],
 ['label   pid', '1221  start time  P580'],
 ['label    pid', '237  total assets  P2403'],
 ['label    pid', '1922  endowment  P6589'],
 ['label    pid', '1331  official name  P1448'],
 ['label   pid', '2452  email address  P968'],
 ['label   pid', '8376  dissolved, abolished or demolished date  P576'],
 ['label    pid', '3683  motto text  P1451']]

In [41]:
prop_labels[0].to_string().strip().split('\n')

['label   pid', '2434  official website  P856']

In [45]:
df.loc[df["property_id"] == "P8687"]

,Unnamed: 0,claim_id,property_id,qid,value
37,21587,Q466664$56c953d4-aaa3-4cfb-8495-cbefa9fd9719,P8687,Q466664,+1613
40,21876,Q467144$d39b7058-2fd7-45cb-932f-9c456db70c2e,P8687,Q467144,+8667
45,22738,Q469476$ab63a52f-2a78-4ae2-a120-ba4624b3c72c,P8687,Q469476,+31011
66,29460,Q482759$350f7e0b-8d62-4c83-8f15-d3c3db91bf31,P8687,Q482759,+4372
83,36137,Q492442$037c0bca-0b51-45e4-bed1-67c0c1c2f433,P8687,Q492442,+34600
...,...,...,...,...,...
51262,5889993,Q55662198$17446a9c-09b4-49e6-b68a-6d569e34c53a,P8687,Q55662198,+1659
51285,979060,Q38806524$4ed05d84-6417-44fb-ba9a-c48cd37c17b7,P8687,Q38806524,+12226
51286,979061,Q38806524$f29c18f0-b08b-4450-b3ff-36f4f29672d7,P8687,Q38806524,+11400
51319,87088,Q69458530$c2c52e78-2cb8-4099-ac49-5ecdced7150e,P8687,Q69458530,+1639
51320,87089,Q69458530$89fe398b-f473-4f85-ab97-fe6fe7f5acc3,P8687,Q69458530,+1496